* {
    font-family: sans-serif;
    list-style-type: none;
    text-align: center;
    bottom: 0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    text-align: center;
}
li {
    padding-top: 1.2%;
    }
#main-image {
    text-align: center;
    width: 25%;
    margin-left: 40%;
}
.main {
    text-align: center;
}
footer  {
 padding-top: 5px;
 padding-bottom: 5px;
 background-color: lightgray;
 bottom: 0px;
 align-items: center;
 text-align: center;
 margin-top: 5%

}

.footer {
    display: flex;
    margin-left: 5.5%;
}